header{
    background: #fff;
    padding: 20px;
}
header h1{
    color: #444;
    text-align: center;
    font-weight: 100;
}
body{
    background: #24272e;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.score-board {
    border: 3px solid #fff;
    width: 300px;
    margin: 40px auto;
    font-size: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.badge {
    background: #e2584d;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
}
#user-label {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(-10%, -50%);
}
#computer-label {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-10%, -50%);
}

#btn {
    position: absolute;
    background-color: rgb(31, 167, 31);
    color: #fff;
    top: 50%;
    right: -35%;
    height: 40px;
    width: 80px;
    transform: translate(-10%, -50%);
}
.result {
    font-weight: 300;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
}
.result{
    line-height: 50px;
}

.choices {
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

.choice {
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 10px;
    margin: auto 9px;
    transition: all 0.3s ease;
}

.choice img {
    filter: invert(100%);
}

#action-message {
 text-align: center;
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: 2px;
 margin: 40px 0;
}